<app-header [pageTitle]="pageTitle" ></app-header>
<ion-content>
    <ion-card>
        <img src="/assets/img/robin.jpeg" class="centric">
        <ion-card-content>
            hola soy Robin Flores estudiante de ingeniería informática en Duoc UC tengo 20 años
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="/assets/img/cata.jpeg" class="centric">
        <ion-card-content>
            hola soy Catalina Sánchez estudiante de ingeniería informática en Duoc UC tengo 20 años
        </ion-card-content>
    </ion-card>
</ion-content>
